body {
padding-top: 50px;
padding-bottom: 30%;
}

.loginForm {
max-width: 300px;
padding: 19px 29px 29px;
margin: 0 auto 20px;
background-color: #fff;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
font-size: 16px;
height: auto;
margin-bottom: 15px;
padding: 7px 9px;
}

span.errormessage, span.successmessage {color:#48c096;margin-bottom:15px;}

.loginForm h2
{
    color:#cccccc;
}

div.companyLogo{position:absolute;bottom:5%;left:5%;width:10%;background: transparent url("../images/DexOne_Secondary_Logo_RGB2.png") right center no-repeat;height:104px;width:109px;}
div.poweredBy{position:absolute;bottom:5%;width:100%;color:#CCC;line-height:14px;text-align:center;}
	div.poweredBy span{font-size:18px;}

